
body {
    background: purple;
    text-align: center;
}
div {
    background: gray;
    color :white;
    padding: 1em;
    margin: 1em;
    width: 25em;
    display: inline-block; /* act like text */
    border-radius: 2em;

}
[contenteditable] {
    outline: none}
